* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.main {
    width: 100%;
    /* height: 80%; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 0 0;
}

/* header starts */

.top-header {
    height: 20%;
    width:100%;
    /* position: relative; */
    background-color: #2980b9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 1rem 1rem;
    height: 10%;
    /* z-index: 1; */
    box-shadow: 0 0 5px 0 black;
}


#pro-des {
    width: 20vw;
    height: 15vh;
    margin-top: -10vh;
    margin-left: 33vh;
    border: 1px solid black;
}

#problem {
    margin-left: 13vh;
    margin-top: 5vh;
    height: 5vh;
    width: 15vw;
}

.lab-1 {
    margin-left: 6vh;
}

.lab-2 {
    margin-top: 10vh;
    margin-left: 2vh;
}

.lab-2,
.lab-1 {
    font-family: 'Franklin Gothic Medium';
    font-size: larger;
}

.rise {
    border-radius: 2vh;
    width: 40vw;
    margin-left: 55vh;
    height: 45vh;
    margin-top: 30vh;
    border: 2px solid black;
}

.logo-content {
    display: flex;
    justify-content: left;
    padding: 0.2rem;
    height: 80%;
    gap: 5px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.sub {
    margin-left: 30vh;
    margin-top: 4.5vh;
}

button {
    width: 7vw;
    height: 5vh;
    background-color: #e9e9e9;
    color: black;
    margin-right: 2vh;
    border: none;
}

/* header ends */


/* form starts */

.form-container {
    background-color: #2980b9;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    border: 1px solid #3146e4;
    padding: 1rem;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 black;
    /* margin:1rem; */
    z-index: 0;
}

.form-container .form-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1rem;
    height: 20rem;
    /* border: 2px solid rgb(46, 46, 252);
    border-radius: 5px;
    box-shadow: 0 0 6px 0 black inset; */
}

.form-container .form-wrapper input[type=text],.form-container .form-wrapper input[type=date] {
    all: unset;
    width: 24rem;
    /* height: 2.5rem; */
    padding: 0.9rem 1rem;
    border: none;
    background-color: white;
    border-bottom: 2px solid black;
    margin: 0.45rem;
    color: black;
    border-radius: 4px;
}

.form-container .form-wrapper textarea {
    all: unset;
    width: 23rem;
    height: 5rem;
    margin: 0.45rem;
    border-bottom: 2px solid black;
    padding: 1rem 2rem 5rem 1rem;
    background-color: white;
    border-radius: 4px;
    color:black;
}

.form-container h1 {
    font-size: 1.5rem;
    margin: 1rem;
}

::placeholder {
    margin: 1rem;
    color: #6a6969;
}

.btn {
    margin: 1rem;
}

/* form ends */

/* button starts */
.button-29 {
    margin-top: 1rem;
    width: max-content;
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
}

/* button ends */